/* global css  */
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", system-ui;
}
ul li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    display: block;
}

.container{
    max-width:1360px;
    width:100%; 
    padding: 0px 25px;
    margin: 0 auto;
    height: 100%;
}

/* header section css  */
.header-section{
    width:100%;
    background-color: #000;
    position: sticky;
    top:0;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center
}
.logo a{
    text-transform: uppercase;
    color: #fff;
    font-family: "Edu VIC WA NT Beginner", cursive;
    display: block;
    font-size:20px
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: block;
    text-transform: capitalize;
    color:#fff;
    font-weight:500;
    padding: 10px;
    background:transparent;
    transition: 0.3s;
}
.menu ul li a:hover{
    background:#8c5565;
}
.menu ul li a i{
    padding-left: 5px;
}
.dropdown{
    position:relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #000;
    width: 100%;
    right:0;
    z-index: 1;
    text-align: center;
}
.dropdown-menu li a{
   text-align: center;
}
  
.dropdown:hover .dropdown-menu{
    display: block;
}
.common-design{
    height: 700px;
    /* height:100%; */
    width:100%;
}
.hero, .about, .contact, .blog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-section{
    background-color: #D1E9F6;
}
.about-section{
    background-color: #F6EACB;
}
.contact-section{
    background-color: #F1D3CE;
}
.blog-section{
    background-color: #EECAD5;
}
.scrollTop{
    position: fixed;
}
#scrolltoTop i{
    position: fixed;
    bottom: 10px;
    right:10px;
    padding: 10px 12px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition:0.3s;
}
#scrolltoTop i:hover{
    background-color: #8c5565;
}
